@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
    transition: background 0.3s linear, color 0.3s linear;
    /*font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;*/
}

body.dark{
    background-color: black;
    color: white;
}
.toggle-container{
    position: fixed;
    top: 20px;
    right: 20px;
}
input[type="checkbox"]{
visibility: hidden;
}
label{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s linear, color 0.3s linear;
}
body.dark label{
    background-color: white;
}